%flex {
    display: -ms-flexbox;
    display: flex;
}

%align-middle {
    -ms-flex-align: center;
    align-items: center;
}

%align-top {
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

%align-bottom {
    -ms-flex-align: flex-end;
    align-items: flex-end;
}

%align-stretch {
    -ms-flex-align: stretch;
    align-items: stretch;
}

%align-between {
    -ms-flex-pack: space-between;
    justify-content: space-between;
}

%align-around {
    -ms-flex-pack: space-around;
    justify-content: space-around;
}

%align-center {
    -ms-flex-pack: center;
    justify-content: center;
}

%align-left {
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
}

%align-right {
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
}

%justify-stretch {
    -ms-flex-pack: stretch;
    justify-content: stretch;
}

%h1-font {
    @include font(600, 40, 1.1, inherit, 0);
    @include fluid-font(100px, 1200px, 35px, 40px);
}

%h2-font {
    @include font(600, 30, 1, inherit, 0);
    @include fluid-font(100px, 1200px, 21px, 30px);
}

%h3-font {
    @include font(600, 26, 1, inherit, 0);
    @include fluid-font(100px, 1200px, 18px, 26px);
}

%h4-font {
    @include font(600, 22, 1, inherit, 0);
    @include fluid-font(100px, 1200px, 17px, 22px);
}

%h5-font {
    @include font(600, 20, 1, inherit, 0);
    @include fluid-font(100px, 1200px, 19px, 20px);
}

%h6-font {
    @include font(500, 18, 1, inherit, 0);
    @include fluid-font(100px, 1200px, 17px, 18px);
}

%button-font {
    @include font(600, 18, 1, inherit, uppercase);
    @include fluid-font(100px, 1200px, 16px, 18px);
}

%primary-transition {
    -webkit-transition: all 0.22s ease;
    -moz-transition: all 0.22s ease;
    transition: all 0.22s ease;
}

%user-cursor {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

%not-selectible {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

%inline-middle {
    display:inline-block;
    vertical-align: middle;
}

%hidden {
    visibility: hidden;
    opacity:0;
}

%show {
    visibility: visible;
    opacity: 1;
}

%wrapped {
    @include transition(max-height, 0.5s, ease);
    max-height: 0;
    overflow: hidden;
}

%slide {
    @include transition(max-height, 1s, ease);
    max-height: 500px;
}