$color-main: #9e2239;
$color-main-dark: #8f1616;

$color-pink: #ed2166;
$color-blue: #00a3f7;

$fontGentleman: 'Gentleman';
$fontClaredonLTStd: 'ClarendonLTStd';
$baseFontFamily: $fontGentleman;

$rowWidth: 75rem;
$columnSpace: 0.9375rem;

$mediaMedium: 40em;
$mediaMediumLarge: 1200px;
$mediaLarge: 1367px;
//$mediaLarge: 64em;