@media (max-width: 1024px) {
    @import "utils/_module";

    body {
        background-color: deeppink;
    }
}

@media (max-width: 991px) {
    @import "utils/_module";

    body {
        background-color: pink;
    }
}